@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: #101111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 100px;
}

.border {
    border: 1px solid transparent;
    height: 100%;
    display: grid;
    place-items: center;
}

.border:hover {
    border: 1px solid white;
    cursor: pointer;
}

.add-first {
    font-size: 13.6px;
    color: #cccccc;
}

.add-second {
    font-size: 16px;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 60px;

}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    text-indent: 5px;
}

.search-icon {
    width: 45px;
    background-color: #fabd68;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: black;
}

span {
    font-size: 12px;
}

.nav-second {
    font-size: 14px;
    font-weight: 800;
}

.nav-cart {
    font-size: 14px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cart i {
    font-size: 30px;
}

/*PANEL ALANI*/
.panel {
    background-color: #222f3d;
    color: #f3f3f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;

}

.panel-ops p {
    display: inline-flex;
    height: 40px;
    padding: 0 3px;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 14px;
}

.panel-deals {
    padding: 0 3px;
    font-size: 14px;
    font-weight: 700;
}

/*HERO ALANI*/
.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg {
    background-color: white;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.hero-msg a {
    color: #92bdc6;
    text-decoration: none;
    margin-left: 3px;
}

/*SHOP SECTION*/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    justify-content: space-evenly;

}

.box {
    height: 440px;
    width: 23%;
    padding: 20px 15px;
    background-color: white;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin: 16px 0;
}

.box-content {
    margin-left: 16px;
    margin-right: 16px;
}

.box-content p {
    color: #68a4b1;
}

/*SHOP SECTION 2*/
.container {
    background-color: #e2e7e6;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 30px;
}

.title a {
    color: #68a4b1;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0;
    gap: 20px;
}

.box1 {
    height: 330px;
    background-color: white;
    padding: 10px 20px;
}

.img img {
    width: 100%;
    height: 250px;
}

.box1-content {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 5px 0;

}

.box1-content p {
    color: crimson;
    font-size: 13px;
    white-space: nowrap;
}

.box1-content p span {
    background-color: crimson;
    color: white;
    margin-right: 6px;
    font-size: 13px;
}

.foot-panel1 {
    background-color: #364759;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.3s;
}

.foot-panel1 a {
    color: white;
    text-decoration: none;

}

.foot-panel1:hover {
    opacity: 0.9;
    cursor: pointer;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 a {
    color: white;
    text-decoration: none;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 13.2px;
    margin-top: 10px;
    transition: all 0.3s;
    color: #cccccc;

}

ul a:hover {
    color: #fabd68;
}